<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context = "http://www.springframework.org/schema/context"
  xmlns:mvc = "http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <context:property-placeholder location="classpath:app.properties"/>
  <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
    <property name="securityManager" ref="securityManager"/>
    <property name="filters">
      <map>
        <entry key="authc" value-ref="zxFormAuthenticationFilter"/>
      </map>
    </property>
    <property name="unauthorizedUrl" value="/refuse.jsp"/>

    <property name="filterChainDefinitions">
      <value>

        /static/** = anon
        /logout = logout

        /** = authc

      </value>
    </property>
  </bean>



  <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">

    <property name="sessionManager" ref="webSessionManager"/>
    <property name="realms">
      <list>
        <ref bean="zxAuthorizingRealm"></ref>
      </list>
    </property>

  </bean>
  <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>


  <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
  <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    <property name="securityManager" ref="securityManager"/>
  </bean>

  <bean id="zxAuthorizingRealm" class="org.zx.learn.shiro.realm.ZxAuthorizingRealm">
    <property name="credentialsMatcher">
      <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/>
      </bean>
    </property>
  </bean>


  <bean id="zxFormAuthenticationFilter" class="org.zx.learn.shiro.filter.ZxFormAuthenticationFilter">
    <property name="loginUrl" value="/loginWeb" />
    <property name="successUrl" value="/loginWeb"/>
    <property name="usernameParam" value="username"/>
    <property name="passwordParam" value="password"/>
  </bean>

  <bean id="zxSessionManager" class="org.zx.learn.shiro.ZxSessionManager">
    <property name="expire" value="${sessionTimeout}"/>
  </bean>

  <bean id="webSessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
    <property name="sessionDAO" ref="zxSessionManager"/>
    <property name="sessionValidationSchedulerEnabled" value="true"/>
    <property name="deleteInvalidSessions" value="true"/>
    <property name="globalSessionTimeout" value="${sessionTimeout}"/>
  </bean>

</beans>