<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

  <context:property-placeholder location="classpath:app.properties" ignore-unresolvable="true"/>
  <dubbo:registry address="${dubbo.register.address}"/>
  <dubbo:application name="data-consumer" owner="zx" organization="zx"/>
  <dubbo:protocol port="20883"/>

  <dubbo:reference id="userService" interface="org.zx.learn.service.UserService" timeout="5000"/>
  <dubbo:reference id="roleService" interface="org.zx.learn.service.RoleService" timeout="5000"/>

</beans>